<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="${title}">标题</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<meta charset="UTF-8">
</head>

<body>
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-md6 layui-col-md-offset3">
				<form class="layui-form " lay-filter="example">
					<div class="layui-form-item">
						<label class="layui-form-label">输入框</label>
						<div class="layui-input-block">
							<input type="text" name="username" id="username"
								lay-verify="title" autocomplete="off" placeholder="请输入标题"
								class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">密码框</label>
						<div class="layui-input-block">
							<input type="password" name="password" id="password"
								placeholder="请输入密码" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button type="button" class="layui-btn" lay-submit="" id="btn"
								lay-filter="demo1">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="/layui/layui.js" charset="utf-8"></script>
	<script>
		layui.use([ 'element', 'layer' ], function() {
			var element = layui.element;
			var $ = layui.jquery;
			var layer = layui.layer;

			$(function() {
				$("#btn").click(function() {
					var username = $("#username").val();
					var password = $("#password").val();
					$.post("/action", {
						"username" : username,
						"password" : password
					}, function(data) {
						if (data.isok) {
							location.href = "/index";
						} else {
							location.href = "/log"
						}
					})
				});
			});

		});
	</script>
</body>

</html>